<html>
<body>

<h2 class="title">Update an author</h2>
<form action="" method="post" class="form">
	<p>Please select the ID of the author, you want to modify!</p>
	<table>
		<tr>
			<td>ID:</td>
			<td>
				<select id="updateAuthorSelect" name="authorID" required="required">
				</select>
			</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td><input id="updateAuthorName" type="text" name="name" /></td>
		</tr>
		<tr>
			<td>Nationality:</td>
			<td>
				<select id="updateAuthorNationality" name="nationality" required="required">
					<option	value="Hungarian">Hungarian</option>
					<option value="American">American</option>
					<option value="Russian">Russian</option>
					<option value="British">British</option>
					<option value="Spanish">Spanish</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Birthdate:</td>
			<td><input id="updateAuthorBirthdate" type="date" name="birthDate" /></td>
		</tr>
		</table>
		<input type="submit" name="insert" value="save"/>
</form>

<script>
$.getJSON('authors', function(data) {
	$.each(data, function(key, value) {
		var id = $('<option>' + value['authorID'] + '</option>');
		$('#updateAuthorSelect').append(id);
		if (key == 0) {
			$('#updateAuthorName').val(value['name']);
			$('#updateAuthorNationality').val(value['nationality']);
			var date = new Date(value['birthDate']);
			$('#updateAuthorBirthdate').val(date.format("yyyy-mm-dd"));
		}
	});
});
</script>

<script>
$('#updateAuthorSelect').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    $.getJSON('authors', function(data) {
    	$.each(data, function(key, value) {
    		if (optionSelected.text() == value['authorID']) {
    			$('#updateAuthorName').val(value['name']);
    			$('#updateAuthorNationality').val(value['nationality']);
    			var date = new Date(value['birthDate']);
    			$('#updateAuthorBirthdate').val(date.format("yyyy-mm-dd"));
    		}
    	});
    });
});
</script>

<script type="text/javascript">
$.fn.serializeObject = function()
{
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
        if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return o;
};

$(document).ready(function() {
    $("form").submit(function() { 
        $.ajax({
        	contentType: 'application/json',
            data: JSON.stringify($('form').serializeObject()),
            dataType: 'json',
            processData: false,
            type: 'POST',
            url: 'author/update'
        });
    });
});
</script>

</body>
</html>